version: '3.7'
services:
  # express server / frontend
  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - seafood-app
    links:
      - "mongo"

  # database
  mongo:
    image: mongo:latest
    networks:
      - seafood-app
    ports:
      - "27107:27017"

# local network for containers to run on       
networks:
  seafood-app:
    driver: bridge
