.appHeader-container {
  background-color: #282c34;
  display: flex;
  justify-content: end;
  width: 100%;
  /* margin: auto; */
}

.appHeader {
  display: none;
  padding: 1rem;
  color: white;
  font-size: 2.2rem;
  font-weight: 200;
  text-transform: capitalize;
  /* align-self: flex-end; */
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .appHeader-container {
    justify-content: space-between;
  }

  .appHeader {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .appHeader-container {
    width: 90%;
    margin: auto;
  }
}


