.news-item {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.news-item-content {
  padding: 1rem;
}

.news-item-heading {
  padding-bottom: 0.5rem;
}

.news-item-link {
  text-decoration: none;
  color: #000;
}

.news-item-link:hover {
  color: #008a99;
}

.news-item-caption {
  padding-bottom: 0.5rem;
}

.news-item-date {
  font-style: italic;
  color: #555;
}