.news-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}

@media screen and (min-width: 600px) { 
  .news-item {
    flex-direction: row;
    justify-content: space-between;
  }
}

.news-item-content {
  padding: 0.8rem;
}

.news-item-heading {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.news-item-link {
  text-decoration: none;
  color: #000;
}

.news-item-link:hover {
  color: #008a99;
}

.news-item-caption {
  padding-bottom: 0.5rem;
}

.news-item-date {
  font-style: italic;
  color: #555;
}

.news-item-image {
  align-self: center;
}