.news-banner {
  /* background: linear-gradient(to top, hsl(186, 100%, 30%), hsl(186, 60%, 60%)); */
  background-color: #008a99;
  text-align: center;
}

.news-banner-content {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: capitalize;
  padding: 1.8rem;
}