.news-items-container {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}

@media screen and (min-width: 900px) { 
  .news-items-container {
    width: 80%;
    max-width: 1200px;
  }
}

.news-items-list {
  display: flex;
  flex-direction: column;
}