.news-items-container {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}

@media screen and (min-width: 900px) { 
  .news-item-container {
    width: 75%;
    max-width: 1400px;
  }
}

.news-items-list {
  display: flex;
  flex-direction: column;
}