.fishFinder-search-container {
  display: flex;
  background: #0093d0;
  justify-content: center;
  align-items: center;
}

.fishFinder-search-box-label {
  color: #fff;
  font-weight: bold;
}

.fishFinder-search-box {
  border: none;
  background: rgba(255, 255, 255, 0.125) !important;
  color: #fff;
  height: 3vh;
  width: 33.33vw;
  margin: 0.8rem;
  padding: 0.8rem;
}

.fishFinder-search-filter-button {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: #0093d0;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 7px 8px 6px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.8rem;
}

.fishFinder-search-filter-button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #0093d0;
}