.fishFinder-nav-container {
  display: flex;
  flex-direction: column;
  background: #0093d0;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
}

@media screen and (min-width: 900px) { 
  .fishFinder-nav-container {
    flex-direction: row;
  }
}

.fishFinder-search-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) { 
  .fishFinder-search-container {
    width: 75%
  }
}

@media screen and (min-width: 900px) { 
  .fishFinder-search-container {
    width: 50%
  }
}

.fishFinder-search-box-label {
  color: #fff;
  font-weight: bold;
}

.fishFinder-search-box {
  border: none;
  /* background: rgba(255, 255, 255, 0.125) !important; */
  color: #fff;
  color: #000;
  /* height: 3vh; */
  width: 100%;
  border-radius: 3px;
  margin: 0.8rem;
  padding: 0.8rem;
  outline: none;
}

.fishFinder-filter-container {
  padding: 0.6rem;
}

.fishFinder-filter-button {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff80;
  color: #fff;
  background-color: #0093d0;
  border-radius: 6px;
  border: 1px solid #ffffff80;
  color: #fff;
  padding: 7px 8px 6px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.8rem;
}

.fishFinder-filter-button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #0093d0;
}

.fishFinder-filter-button.active {
  border: 1px solid #fff;
  background: #fff;
  color: #0093d0;
}