.fishFinder-nav-container {
  display: flex;
  flex-direction: column;
  background: #0093d0;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.6rem;
}

.fishFinder-search-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.fishFinder-search-box-label {
  color: #fff;
  font-weight: bold;
}

.fishFinder-search-box {
  border: none;
  color: #fff;
  color: #000;
  border-radius: 3px;
  padding: 0.8rem;
  outline: none;
}

.fishFinder-filter-container {
  padding: 0.6rem;
  margin-top: 1rem;
}

.fishFinder-filter-button {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff80;
  color: #fff;
  background-color: #0093d0;
  border-radius: 6px;
  border: 1px solid #ffffff80;
  color: #fff;
  padding: 7px 8px 6px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.8rem;
}

.fishFinder-filter-button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #0093d0;
}

.fishFinder-filter-button.active {
  border: 1px solid #fff;
  background: #fff;
  color: #0093d0;
}

.fishFinder-filter-button:last-child {
  margin-right: 0rem;
}

.autocomplete-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 500px;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  overflow-y: auto;
}

.autocomplete-item {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  text-decoration: none;
  color: #555;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.autocomplete-item-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  margin-right: 0.8rem;
}

.autocomplete-item-image-wrapper img {
  max-height: 80px;
  max-width: 80px;
}

.autocomplete-item h4 {
  margin-bottom: 0.4rem;
}

.autocomplete-item p {
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) { 
  .fishFinder-search-container {
    width: 75%;
  }
}

@media screen and (min-width: 900px) { 
  .fishFinder-nav-container {
    flex-direction: row;
  }

  .fishFinder-filter-container {
    margin-top: 0rem;
  }

  .fishFinder-search-container {
    width: 50%;
    margin-right: 2rem;
  }
}