.fishFinder-species-card {
  display: flex;
  width: 100%;
  padding: 0rem 0.5rem 1rem;
}

.fishFinder-species-card-link {
  color: #000;
  text-decoration: none;
}

.fishFinder-species-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 2rem;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
}

.fishFinder-species-card-content:hover {
  border: 2px solid #f1f1f1;

}

.fishFinder-species-card-farmed-tag {
  font-weight: 600;
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 0.6rem 1.5rem;
  margin: -1rem 0.8rem 0rem;
}

.fishFinder-species-card-illustration {
  height: 15rem;
  width: 100%;
  object-fit: scale-down;
  padding: 0.5rem;
}

.fishFinder-species-card-heading {
  font-size: calc(1rem + 1.5vmin);
  padding-bottom: 0.5rem;
}

.fishFinder-species-card-alias {
  flex: 1 0 auto;
  font-size: calc(0.4rem + 1.5vmin);
  padding-bottom: 1rem;
}


@media all and (min-width: 40em) {
  .fishFinder-species-card {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .fishFinder-species-card {
    width: 33.33%;
  }
}